@model List<PayRollProject.DataModel.ViewModel.ApplicationUserViewModel>
@using Syncfusion.EJ2.Grids

@{
	ViewData["AdminTitle"] = "مدیریت کاربران";

	var fName = ((System.Security.Claims.ClaimsPrincipal)User).FindFirst("FirstName")?.Value;

	List<object> commands = new List<object>();
	commands.Add(new { type = "deleteCommand", buttonOption = new { tooltip = "غیرفعال سازی", iconCss = "e-icons e-delete", cssClass = "badge bg-danger btnDelete" } });
	commands.Add(new { type = "returnCommand", buttonOption = new { tooltip = "فعال سازی", iconCss = "e-icons e-redo", cssClass = "badge bg-info btnReturn" } });
}


<link type="text/css" rel="stylesheet" href="~/css/syncfusioncomponentstyle.css" />
<div style="display: flex; font-size: 13px;">
	<p style="margin-left: 20px;">تعداد کل کاربران : <span id="spanAllUser" style="color: black"></span></p>
	<p style="margin-left: 20px;">تعداد کاربران فعال : <span id="spanActiveUser" style="color: green;"></span></p>
	<p> تعداد کاربران غیرفعال : <span id="spanDeactivateUser" style="color: red;"></span></p>
</div>
<span class="user-name">@fName</span>
<div class="col-md-12 alert"
	 style="text-align: right; background-color: #efcdc3; padding: 3px; color: black; font-size: 13px; margin-bottom: 10px">
	<span>
		توجه : ردیف‌هایی که به رنگ قرمز هستند، کاربرانی می‌باشند که اکانت آنها فعال نیست و امکان کار با سیستم را ندارند.
	</span>
</div>
<div class="row bg-white">
	<div class="col-md-12">
		<ejs-grid id="systemUser" created="CreatedFunc" enableStickyHeader="true" gridLines="Both"
				  rowDataBound="rowDataBoundFunc" actionComplete="actionCompleteFunc"
				  load="loadFunc" allowFiltering="true" allowSorting="true" allowPaging="true"
				  toolbar='@(new List<string>() { "Add", "Edit", "Update", "Cancel" })' commandClick="commandClickFunc"
				  queryCellInfo="cellInfoFunc">

			<e-grid-pagesettings pageSize="10" pageCount="6"></e-grid-pagesettings>
			<e-grid-filtersettings mode="OnEnter" type="Menu"></e-grid-filtersettings>
			<e-grid-editsettings allowAdding allowEditing allowDeleting="false" mode="Normal"></e-grid-editsettings>
			<e-grid-columns>
				<e-grid-column field="rowIndex" headerText="ردیف" width="100" allowEditing="false"
							   allowFiltering="false" allowSorting="false"></e-grid-column>

				<e-grid-column headerText="نام" field="FirstName" TextAlign=Center
							   customAttributes=@(new { @class = "customCss" })></e-grid-column>

				<e-grid-column headerText="نام خانوادگی" field="Family" TextAlign=Center
							   customAttributes=@(new { @class = "customCss" })></e-grid-column>
				<e-grid-column headerText="شماره تماس" field="PhoneNumber" TextAlign=Center
							   customAttributes=@(new { @class = "customCss" })></e-grid-column>
				<e-grid-column headerText="کد ملی" field="melliCode" TextAlign=Center
							   customAttributes=@(new { @class = "customCss" })></e-grid-column>
				<e-grid-column headerText="ایمیل" field="email" TextAlign=Center
							   customAttributes=@(new { @class = "customCss" })></e-grid-column>

				<e-grid-column headerText="نوع کاربری" editType="dropdownedit"
							   edit="@(new { create = "createUserType", read = "readUserType", destroy = "destroyUserType", write = "writeUserType" })"
							   field="userTypeText" TextAlign=Center customAttributes=@(new { @class = "customCss" })>
				</e-grid-column>

				<e-grid-column headerText="جنسیت" editType="dropdownedit"
							   edit="@(new { create = "createGender", read = "readGender", destroy = "destroyGender", write = "writeGender" })"
							   field="genderText" TextAlign=Center customAttributes=@(new { @class = "customCss" })>
				</e-grid-column>

				<e-grid-column headerText="وضعیت" field="userFlagText" TextAlign=Center
							   customAttributes=@(new { @class = "customCss" })></e-grid-column>

				<e-grid-column field="userId" visible=false isPrimaryKey allowEditing=false></e-grid-column>
				<e-grid-column commands="commands" headerText="عملیات" textAlign=Center></e-grid-column>
			</e-grid-columns>
		</ejs-grid>

	</div>
</div>

@* <div class="control-section"> *@
@*     @Html.EJS().Grid("systemUser1").DataSource(@Model).Columns(col => *@
@* { *@
@*     col.Field("UserId").IsPrimaryKey(true).ShowInColumnChooser(false).Visible(false).ValidationRules(new { required = true, number = true }).Add(); *@
@*     col.HeaderText("نام و نام خانوادگی").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns(new List<Syncfusion.EJ2.Grids.GridColumn>() *@
@*     { *@
@*         new GridColumn { Field = "FirstName", Width = "150", HeaderText = "نام", MinWidth = "90", TextAlign = TextAlign.Center }, *@
@*         new GridColumn { Field = "Family", Width = "150", HeaderText = "نام خانوادگی", TextAlign = TextAlign.Center } *@
@*     }).Add(); *@
@* *@
@*     col.HeaderText("وضعیت کاربری").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Columns(new List<Syncfusion.EJ2.Grids.GridColumn>() *@
@*     { *@
@*       new GridColumn{Field="UserTypeText",Width="70",HeaderText="نوع کاربری",TextAlign=TextAlign.Center}  , *@
@*       new GridColumn{Field="GenderText",Width="70",HeaderText="جنسیت",TextAlign=TextAlign.Center}, *@
@*         new GridColumn{Field="UserFlagText",Width="70",HeaderText="وضعیت",TextAlign=TextAlign.Center} *@
@*     }).Add(); *@
@* } *@
@* ).Render(); *@
@* </div> *@

@section AdminScripts {

	<!--template-->
	@* <script id="rownumbertmp" type="text/x-template"> *@
	@* 	<div> *@
	@* 		${((+data.index) + 1)} *@
	@* 	</div> *@
	@* </script> *@
	<script>
		let baseUrl = '@Url.Action("FetchUserList", "UserManager", new {area = "AdminArea"})';
		let insertUrl = '@Url.Action("Insert", "UserManager", new {area = "AdminArea"})';
		let updateUrl = '@Url.Action("Update", "UserManager", new {area = "AdminArea"})';
		let activeUrl = '@Url.Action("ActiveUser", "UserManager", new { area = "AdminArea" })';
		let deactivateUrl = '@Url.Action("DeactivateUser", "UserManager", new { area = "AdminArea" })';

	

	//	let currentUser =
		@* @Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewData["CurrentUserVm"]));*@
	//	console.log("currentUser (Server-injected) :", currentUser);

	</script>

	<script src="~/Pages/userManager/js/Script.js" type="text/javascript"></script>
	<!-- Row Data Bound Event -->
	<script src="~/Pages/userManager/js/rowDataBoundScript.js" type="text/javascript"></script>
	<!--generate dropdown for gender-->
	<script src="~/Pages/userManager/js/genderScript.js" type="text/javascript"></script>
	<script src="~/Pages/userManager/js/UserTypeScript.js" type="text/javascript"></script>
	<script src="~/Pages/userManager/js/QueryCellInfoScript.js" type="text/javascript"></script>
	<script src="~/Pages/userManager/js/LoadFunctionScript.js" type="text/javascript"></script>
	<script src="~/Pages/userManager/js/CrateFunctionScript.js" type="text/javascript"></script>
	<script src="~/Pages/userManager/js/CommandClickFunctionScript.js" type="text/javascript"></script>
	<script src="~/Pages/userManager/js/ActionCompletScript.js" type="text/javascript"></script>
}