@{
	ViewData["AdminTitle"] = "لیست استان ها";

	List<object> toolBarItem = new List<object>
{
		"Add",
		"Edit",
		"Delete",
		"Update",
		"Cancel",
		"ExcelExport",
		"Search"
	};

}

<link href="~/css/SyncfusionComponentStyle.css" rel="stylesheet" />
@* issue: من قصد دارم در برنامه زمانیکه استانی حذف می‌شود و روی لینک a کلیک میشه همه استان‌های حذف شده را نمایش دهم.به نحوی که فقط استان های حذف شده نشان داده شود. *@
<div style="display: flex; font-size: 13px;">
	<p style="margin-left: 20px;">تعداد کل استان‌های نمایش داده شده: <span id="spnRowProvince"></span></p>
	<p style="margin-left: 20px;color:orangered;">تعداد کل استان‌های<a> حذف</a> شده: <span id="spnRowDelProvince" style="color: red;"></span></p>
	<p style="margin-left: 20px;color:darkgreen;">تعداد کل استان‌های ثبت شده: <span id="spnRowAllProvince" style="color:greenyellow;"></span></p>
</div>

<div class="row bg-white">
	<div class="col-md-12">

		<ejs-grid id="provinceList" created="createdFunc" toolbar="@toolBarItem" rowDataBound="rowDataBoundFunc" gridLines="Both"
				  allowExcelExport allowFiltering allowPaging allowSorting>
			<e-grid-pagesettings pageSize="10" pageCount="3"></e-grid-pagesettings>
			<e-grid-filtersettings mode="Immediate" type="Menu"></e-grid-filtersettings>
			<e-grid-editsettings allowAdding allowEditing allowDeleting showDeleteConfirmDialog mode="Normal"></e-grid-editsettings>

			<e-grid-columns>
				<e-grid-column field="rowIndex" headerText="ردیف" width="90" allowEditing="false" allowSorting="false" allowFiltering="false" textAlign="Right"></e-grid-column>
				<e-grid-column field="ProvinceName" headerTemplate="#provinceHeader" textAlign="Right"></e-grid-column>
				<e-grid-column field="Description" headerTemplate="#descriptionHeader" textAlign="Right"></e-grid-column>
				<e-grid-column field="ProvinceId" visible="false" isPrimaryKey="true" allowEditing="false"></e-grid-column>
			</e-grid-columns>
		</ejs-grid>

	</div>
</div>


@section AdminScripts {


	<!-- برای نمایش ستون نام استان Header Template -->
	<script id="provinceHeader" type="text/x-template">
		<span class="e-icons e-home" style="font-size:15px;"></span> نام استان
	</script>

	<!-- #region برای نمایش ستون توضیحات Header Template -->
	<script id="descriptionHeader" type="text/x-template">
		<span class="e-icons e-header" style="font-size:15px;"></span> توضیحات
	</script>

	<script>
		window.baseUrlProvince = '@Url.Action("FetchProvinceList", "ProvinceManagement", new { area = "AdminArea" })';
		window.insertUrlProvince = '@Url.Action("Insert", "ProvinceManagement", new { area = "AdminArea" })';
		window.updateUrlProvince = '@Url.Action("Update", "ProvinceManagement", new { area = "AdminArea" })';
		window.deleteUrlProvince = '@Url.Action("Delete", "ProvinceManagement", new { area = "AdminArea" })';
	</script>

	<script src="~/Pages/ProvinceManegement/js/RowIndexScript.js" type="text/javascript"></script>
	<script src="~/Pages/ProvinceManegement/js/CreateFuncScript.js" type="text/javascript"></script>

}