@{
    ViewData["AdminTitle"] = "لیست کشورها";
    List<object> toolBarItems = new List<object>
    {
        "Add",
        "Edit",
        "Update",
        "Cancel",
        "Delete"
    };

// toolBarItems.Add("Add");
    // toolBarItems.Add("Edit");
    // toolBarItems.Add("Update");
    // toolBarItems.Add("Cancel");
    // toolBarItems.Add("Delete");
}

<link href="~/css/SyncfusionComponentStyle.css" rel="stylesheet"/>

<div style="display: flex; font-size: 13px;">
    <p style="margin-left: 20px;"> تعداد کل کشورها : <span id="spnRowCount"></span></p>
</div>

<div class="row bg-white">
    <div class="col-md-12">
        <ejs-grid id="countryList" created="createdFunc" toolbar="@toolBarItems" toolbarClick="toolbarClickFunc" rowDataBound="indexNumber" allowPaging allowFiltering allowSorting>
            
            <e-grid-pagesettings pageSize=10 pageCount=3></e-grid-pagesettings>
            <e-grid-filtersettings mode="Immediate" type="Menu"></e-grid-filtersettings>
            <e-grid-editsettings allowAdding AllowDeleting AllowEditing showDeleteConfirmDialog=true></e-grid-editsettings>

            <e-grid-columns>
                <e-grid-column field="rowIndex" allowediting="false" allowFiltering="false" allowSorting="false" headerText="ردیف" width="80"></e-grid-column>
                <e-grid-column headerTemplate="#countryHeader" field="CountryName" TextAlign="Right"></e-grid-column>
                <e-grid-column headerTemplate="#descriptionHeader" field="Description" TextAlign="Right"></e-grid-column>
                <e-grid-column field="CountryID" visible="false" isPrimaryKey="true" allowEditing="false"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>


@section AdminScripts {

    <!-- برای نمایش ستون نام کشور Header Template -->
    <script id="countryHeader" type="text/x-template">
        <span class="e-icons e-home" style="font-size:15px;" ></span> نام کشور
    </script>

    <!-- #region برای نمایش ستون توضیحات Header Template -->
    <script id="descriptionHeader" type="text/x-template">
        <span class="e-icons e-header" style="font-size:15px;" ></span> توضیحات
    </script>

	<script>
		let baseUrl = '@Url.Action("FetchCountryList","CountryManagement",new {area = "AdminArea" })';
		let insertUrl = '@Url.Action("Insert", "CountryManagement", new {area = "AdminArea" })';
		let updateUrl = '@Url.Action("Update", "CountryManagement", new {area = "AdminArea" })';
		let deleteUrl = '@Url.Action("Delete", "CountryManagement", new {area = "AdminArea" })'
	</script>


    <script>
        // برای ایجاد کردن ردیف عدد گذاری برای جدول Row Number
        // ردیف جدول
        let indexNumber = (args) => {
            let grid = document.getElementById('countryList').ej2_instances[0];
            if (args.row) {
                let rowIndex = parseInt(args.row.getAttribute('aria-rowIndex'));
                let currentPageNumber = grid.pageSettings.currentPage;
                let pageSize = grid.pageSettings.pageSize;
                let startIndex = (currentPageNumber - 1) * pageSize;
                args.row.querySelector('.e-rowcell').innerHTML = (
                    startIndex + rowIndex
                ).toString();
            }
        }








        </script>

	<script>

		const nationalCodePrefixes = [
			{ prefix: "001", province: "تهران", city: "تهران مرکزی" },
			{ prefix: "002", province: "تهران", city: "تهران مرکزی" },
			{ prefix: "003", province: "تهران", city: "تهران مرکزی" },
			{ prefix: "004", province: "تهران", city: "تهران مرکزی" },
			{ prefix: "005", province: "تهران", city: "تهران مرکزی" },
			{ prefix: "006", province: "تهران", city: "تهران مرکزی" },
			{ prefix: "007", province: "تهران", city: "تهران مرکزی" },
			{ prefix: "008", province: "تهران", city: "تهران مرکزی" },
			{ prefix: "011", province: "تهران", city: "تهران جنوب" },
			{ prefix: "015", province: "تهران", city: "تهران غرب" },
			{ prefix: "020", province: "تهران", city: "تهران شرق" },
			{ prefix: "025", province: "تهران", city: "تهران شمال" },
			{ prefix: "031", province: "البرز", city: "کرج" },
			{ prefix: "032", province: "البرز", city: "کرج" },
			{ prefix: "037", province: "قم", city: "قم" },
			{ prefix: "038", province: "قم", city: "قم" },
			{ prefix: "042", province: "تهران", city: "ورامین" },
			{ prefix: "043", province: "تهران", city: "دماوند" },
			{ prefix: "044", province: "تهران", city: "شمیران" },
			{ prefix: "045", province: "تهران", city: "شمیران" },
			{ prefix: "048", province: "تهران", city: "شهرری" },
			{ prefix: "049", province: "تهران", city: "شهرری" },
			{ prefix: "051", province: "مرکزی", city: "آشتیان" },
			{ prefix: "052", province: "مرکزی", city: "اراک" },
			{ prefix: "053", province: "مرکزی", city: "اراک" },
			{ prefix: "055", province: "مرکزی", city: "خمین" },
			{ prefix: "056", province: "مرکزی", city: "محلات" },
			{ prefix: "057", province: "مرکزی", city: "دلیجان" },
			{ prefix: "058", province: "مرکزی", city: "تفرش" },
			{ prefix: "059", province: "مرکزی", city: "ساوه" },
			{ prefix: "060", province: "مرکزی", city: "ساوه" },
			{ prefix: "061", province: "مرکزی", city: "سربند" },
			{ prefix: "062", province: "مرکزی", city: "سربند" },
			{ prefix: "063", province: "خراسان شمالی", city: "اسفراین" },
			{ prefix: "064", province: "خراسان جنوبی", city: "بیرجند" },
			{ prefix: "065", province: "خراسان جنوبی", city: "بیرجند" },
			{ prefix: "067", province: "خراسان شمالی", city: "بجنورد" },
			{ prefix: "068", province: "خراسان شمالی", city: "بجنورد" },
			{ prefix: "069", province: "خراسان رضوی", city: "تربت حیدریه" },
			{ prefix: "070", province: "خراسان رضوی", city: "تربت حیدریه" },
			{ prefix: "072", province: "خراسان رضوی", city: "تربت جام" },
			{ prefix: "073", province: "خراسان رضوی", city: "تربت جام" },
			{ prefix: "074", province: "خراسان رضوی", city: "تایباد" },
			{ prefix: "075", province: "خراسان شمالی", city: "جاجرم" },
			{ prefix: "076", province: "خراسان رضوی", city: "خواف" },
			{ prefix: "077", province: "خراسان رضوی", city: "درگز" },
			{ prefix: "078", province: "خراسان رضوی", city: "سبزوار" },
			{ prefix: "079", province: "خراسان رضوی", city: "سبزوار" },
			{ prefix: "081", province: "خراسان رضوی", city: "سرخس" },
			{ prefix: "082", province: "خراسان شمالی", city: "شیروان" },
			{ prefix: "083", province: "یزد", city: "طبس" },
			{ prefix: "084", province: "خراسان رضوی", city: "فریمان" },
			{ prefix: "085", province: "خراسان جنوبی", city: "فردوس" },
			{ prefix: "086", province: "خراسان رضوی", city: "قوچان" },
			{ prefix: "087", province: "خراسان رضوی", city: "قوچان" },
			{ prefix: "088", province: "خراسان جنوبی", city: "قائنات" },
			{ prefix: "089", province: "خراسان رضوی", city: "کاشمر" },
			{ prefix: "090", province: "خراسان رضوی", city: "کاشمر" },
			{ prefix: "091", province: "خراسان رضوی", city: "گناباد" },
			{ prefix: "092", province: "خراسان رضوی", city: "مشهد" },
			{ prefix: "093", province: "خراسان رضوی", city: "مشهد" },
			{ prefix: "094", province: "خراسان رضوی", city: "مشهد" },
			{ prefix: "096", province: "خراسان رضوی", city: "مشهد منطقه یک" },
			{ prefix: "097", province: "خراسان رضوی", city: "مشهد منطقه دو" },
			{ prefix: "098", province: "خراسان رضوی", city: "مشهد منطقه سه" },
			{ prefix: "105", province: "خراسان رضوی", city: "نیشابور" },
			{ prefix: "106", province: "خراسان رضوی", city: "نیشابور" },
			{ prefix: "108", province: "اصفهان", city: "نجف آباد" },
			{ prefix: "109", province: "اصفهان", city: "نجف آباد" },
			{ prefix: "110", province: "اصفهان", city: "فلاورجان" },
			{ prefix: "111", province: "اصفهان", city: "فلاورجان" },
			{ prefix: "112", province: "اصفهان", city: "فریدونشهر" },
			{ prefix: "113", province: "اصفهان", city: "خمینی شهر" },
			{ prefix: "114", province: "اصفهان", city: "خمینی شهر" },
			{ prefix: "115", province: "اصفهان", city: "فریدن" },
			{ prefix: "116", province: "اصفهان", city: "لنجان (زرینشهر)" },
			{ prefix: "117", province: "اصفهان", city: "لنجان (زرینشهر)" },
			{ prefix: "118", province: "اصفهان", city: "اردستان" },
			{ prefix: "119", province: "اصفهان", city: "شهرضا" },
			{ prefix: "120", province: "اصفهان", city: "سمیرم" },
			{ prefix: "121", province: "اصفهان", city: "گلپایگان" },
			{ prefix: "122", province: "اصفهان", city: "خوانسار" },
			{ prefix: "123", province: "اصفهان", city: "نطنز" },
			{ prefix: "124", province: "اصفهان", city: "نائین" },
			{ prefix: "125", province: "اصفهان", city: "کاشان" },
			{ prefix: "126", province: "اصفهان", city: "کاشان" },
			{ prefix: "127", province: "اصفهان", city: "اصفهان" },
			{ prefix: "128", province: "اصفهان", city: "اصفهان" },
			{ prefix: "129", province: "اصفهان", city: "اصفهان" },
			{ prefix: "136", province: "آذربایجان شرقی", city: "تبریز" },
			{ prefix: "137", province: "آذربایجان شرقی", city: "تبریز" },
			{ prefix: "138", province: "آذربایجان شرقی", city: "تبریز" },
			{ prefix: "145", province: "اردبیل", city: "اردبیل" },
			{ prefix: "146", province: "اردبیل", city: "اردبیل" },
			{ prefix: "149", province: "آذربایجان شرقی", city: "اهر" },
			{ prefix: "150", province: "آذربایجان شرقی", city: "اهر" },
			{ prefix: "152", province: "آذربایجان شرقی", city: "میانه" },
			{ prefix: "153", province: "آذربایجان شرقی", city: "میانه" },
			{ prefix: "154", province: "آذربایجان شرقی", city: "مراغه" },
			{ prefix: "155", province: "آذربایجان شرقی", city: "مراغه" },
			{ prefix: "157", province: "آذربایجان شرقی", city: "مرند" },
			{ prefix: "158", province: "آذربایجان شرقی", city: "مرند" },
			{ prefix: "159", province: "آذربایجان شرقی", city: "هشترود" },
			{ prefix: "160", province: "آذربایجان شرقی", city: "هشترود" },
			{ prefix: "161", province: "اردبیل", city: "مغان" },
			{ prefix: "162", province: "اردبیل", city: "مغان" },
			{ prefix: "163", province: "اردبیل", city: "خلخال" },
			{ prefix: "164", province: "آذربایجان شرقی", city: "سراب" },
			{ prefix: "165", province: "آذربایجان شرقی", city: "سراب" },
			{ prefix: "166", province: "اردبیل", city: "مشکین شهر" },
			{ prefix: "167", province: "اردبیل", city: "مشکین شهر" },
			{ prefix: "168", province: "آذربایجان شرقی", city: "بناب" },
			{ prefix: "169", province: "آذربایجان شرقی", city: "آذرشهر" },
			{ prefix: "170", province: "آذربایجان شرقی", city: "اسکو" },
			{ prefix: "171", province: "آذربایجان شرقی", city: "بستان آباد" },
			{ prefix: "172", province: "آذربایجان شرقی", city: "شبستر" },
			{ prefix: "173", province: "آذربایجان شرقی", city: "هریس" },
			{ prefix: "174", province: "خوزستان", city: "اهواز" },
			{ prefix: "175", province: "خوزستان", city: "اهواز" },
			{ prefix: "181", province: "خوزستان", city: "آبادان" },
			{ prefix: "182", province: "خوزستان", city: "خرمشهر" },
			{ prefix: "183", province: "خوزستان", city: "ایذه" },
			{ prefix: "184", province: "خوزستان", city: "ایذه" },
			{ prefix: "185", province: "خوزستان", city: "بهبهان" },
			{ prefix: "186", province: "خوزستان", city: "بهبهان" },
			{ prefix: "187", province: "خوزستان", city: "شوشتر" },
			{ prefix: "188", province: "خوزستان", city: "شوشتر" },
			{ prefix: "189", province: "خوزستان", city: "شادگان" },
			{ prefix: "190", province: "خوزستان", city: "رامهرمز" },
			{ prefix: "191", province: "خوزستان", city: "رامهرمز" },
			{ prefix: "192", province: "خوزستان", city: "اندیمشک" },
			{ prefix: "193", province: "خوزستان", city: "اندیمشک" },
			{ prefix: "194", province: "خوزستان", city: "بندرماهشهر" },
			{ prefix: "195", province: "خوزستان", city: "بندرماهشهر" },
			{ prefix: "196", province: "خوزستان", city: "مسجدسلیمان" },
			{ prefix: "197", province: "خوزستان", city: "مسجدسلیمان" },
			{ prefix: "198", province: "خوزستان", city: "دشت آزادگان" },
			{ prefix: "199", province: "خوزستان", city: "دزفول" },
			{ prefix: "200", province: "خوزستان", city: "دزفول" },
			{ prefix: "202", province: "گلستان", city: "گنبد کاووس" },
			{ prefix: "203", province: "گلستان", city: "گنبد کاووس" },
			{ prefix: "205", province: "مازندران", city: "بابل" },
			{ prefix: "206", province: "مازندران", city: "بابل" },
			{ prefix: "208", province: "مازندران", city: "ساری" },
			{ prefix: "209", province: "مازندران", city: "ساری" },
			{ prefix: "211", province: "گلستان", city: "گرگان" },
			{ prefix: "212", province: "گلستان", city: "گرگان" },
			{ prefix: "213", province: "مازندران", city: "آمل" },
			{ prefix: "214", province: "مازندران", city: "آمل" },
			{ prefix: "215", province: "مازندران", city: "قائمشهر" },
			{ prefix: "216", province: "مازندران", city: "قائمشهر" },
			{ prefix: "217", province: "مازندران", city: "بهشهر" },
			{ prefix: "218", province: "مازندران", city: "بهشهر" },
			{ prefix: "219", province: "مازندران", city: "نوشهر" },
			{ prefix: "220", province: "مازندران", city: "نوشهر" },
			{ prefix: "221", province: "مازندران", city: "تنکابن" },
			{ prefix: "222", province: "مازندران", city: "نور" },
			{ prefix: "223", province: "گلستان", city: "بندرترکمن" },
			{ prefix: "224", province: "گلستان", city: "کردکوی" },
			{ prefix: "225", province: "مازندران", city: "سوادکوه" },
			{ prefix: "226", province: "گلستان", city: "علی آباد" },
			{ prefix: "227", province: "مازندران", city: "رامسر" },
			{ prefix: "228", province: "فارس", city: "شیراز" },
			{ prefix: "229", province: "فارس", city: "شیراز" },
			{ prefix: "230", province: "فارس", city: "شیراز" },
			{ prefix: "236", province: "فارس", city: "کازرون" },
			{ prefix: "237", province: "فارس", city: "کازرون" },
			{ prefix: "238", province: "فارس", city: "ممسنی" },
			{ prefix: "239", province: "فارس", city: "ممسنی" },
			{ prefix: "240", province: "فارس", city: "آباده" },
			{ prefix: "241", province: "فارس", city: "آباده" },
			{ prefix: "242", province: "فارس", city: "مرودشت" },
			{ prefix: "243", province: "فارس", city: "مرودشت" },
			{ prefix: "244", province: "فارس", city: "فیروزآباد" },
			{ prefix: "245", province: "فارس", city: "فیروزآباد" },
			{ prefix: "246", province: "فارس", city: "جهرم" },
			{ prefix: "247", province: "فارس", city: "جهرم" },
			{ prefix: "248", province: "فارس", city: "داراب" },
			{ prefix: "249", province: "فارس", city: "داراب" },
			{ prefix: "250", province: "فارس", city: "لارستان" },
			{ prefix: "251", province: "فارس", city: "لارستان" },
			{ prefix: "252", province: "فارس", city: "استهبان" },
			{ prefix: "253", province: "فارس", city: "اقلید" },
			{ prefix: "254", province: "فارس", city: "سپیدان" },
			{ prefix: "255", province: "فارس", city: "نی ریز" },
			{ prefix: "256", province: "فارس", city: "فسا" },
			{ prefix: "257", province: "فارس", city: "فسا" },
			{ prefix: "258", province: "گیلان", city: "رشت" },
			{ prefix: "259", province: "گیلان", city: "رشت" },
			{ prefix: "261", province: "گیلان", city: "آستارا" },
			{ prefix: "262", province: "گیلان", city: "طالش" },
			{ prefix: "263", province: "گیلان", city: "طالش" },
			{ prefix: "264", province: "گیلان", city: "بندرانزلی" },
			{ prefix: "265", province: "گیلان", city: "رودبار" },
			{ prefix: "266", province: "گیلان", city: "فومن" },
			{ prefix: "267", province: "گیلان", city: "صومعه سرا" },
			{ prefix: "268", province: "گیلان", city: "رودسر" },
			{ prefix: "269", province: "گیلان", city: "رودسر" },
			{ prefix: "270", province: "گیلان", city: "لنگرود" },
			{ prefix: "271", province: "گیلان", city: "لاهیجان" },
			{ prefix: "272", province: "گیلان", city: "لاهیجان" },
			{ prefix: "273", province: "گیلان", city: "آستانه" },
			{ prefix: "274", province: "آذربایجان غربی", city: "ارومیه" },
			{ prefix: "275", province: "آذربایجان غربی", city: "ارومیه" },
			{ prefix: "279", province: "آذربایجان غربی", city: "خوی" },
			{ prefix: "280", province: "آذربایجان غربی", city: "خوی" },
			{ prefix: "282", province: "آذربایجان غربی", city: "ماکو" },
			{ prefix: "283", province: "آذربایجان غربی", city: "ماکو" },
			{ prefix: "284", province: "آذربایجان غربی", city: "سلماس" },
			{ prefix: "285", province: "آذربایجان غربی", city: "سلماس" },
			{ prefix: "286", province: "آذربایجان غربی", city: "مهاباد" },
			{ prefix: "287", province: "آذربایجان غربی", city: "مهاباد" },
			{ prefix: "288", province: "آذربایجان غربی", city: "سردشت" },
			{ prefix: "289", province: "آذربایجان غربی", city: "پیرانشهر" },
			{ prefix: "290", province: "آذربایجان غربی", city: "نقده" },
			{ prefix: "291", province: "آذربایجان غربی", city: "سیه چشمه (چالدران)" },
			{ prefix: "292", province: "آذربایجان غربی", city: "بوکان" },
			{ prefix: "293", province: "آذربایجان غربی", city: "شاهین دژ" },
			{ prefix: "294", province: "آذربایجان غربی", city: "تکاب" },
			{ prefix: "295", province: "آذربایجان غربی", city: "اشنویه" },
			{ prefix: "296", province: "آذربایجان غربی", city: "میاندوآب" },
			{ prefix: "297", province: "آذربایجان غربی", city: "میاندوآب" },
			{ prefix: "298", province: "کرمان", city: "کرمان" },
			{ prefix: "299", province: "کرمان", city: "کرمان" },
			{ prefix: "302", province: "کرمان", city: "جیرفت" },
			{ prefix: "303", province: "کرمان", city: "جیرفت" },
			{ prefix: "304", province: "کرمان", city: "رفسنجان" },
			{ prefix: "305", province: "کرمان", city: "رفسنجان" },
			{ prefix: "306", province: "کرمان", city: "سیرجان" },
			{ prefix: "307", province: "کرمان", city: "سیرجان" },
			{ prefix: "308", province: "کرمان", city: "زرند" },
			{ prefix: "309", province: "کرمان", city: "زرند" },
			{ prefix: "310", province: "کرمان", city: "بم" },
			{ prefix: "311", province: "کرمان", city: "بم" },
			{ prefix: "312", province: "کرمان", city: "بافت" },
			{ prefix: "313", province: "کرمان", city: "بافت" },
			{ prefix: "314", province: "کرمان", city: "شهربابک" },
			{ prefix: "315", province: "کرمان", city: "کهنوج" },
			{ prefix: "316", province: "کرمان", city: "کهنوج" },
			{ prefix: "317", province: "کرمان", city: "بردسیر" },
			{ prefix: "318", province: "کرمان", city: "گلباف" },
			{ prefix: "319", province: "کرمان", city: "شهداد" },
			{ prefix: "320", province: "کرمان", city: "فهرج" },
			{ prefix: "321", province: "کرمان", city: "راور" },
			{ prefix: "322", province: "کرمانشاه", city: "پاوه" },
			{ prefix: "323", province: "کرمانشاه", city: "پاوه" },
			{ prefix: "324", province: "کرمانشاه", city: "کرمانشاه" },
			{ prefix: "325", province: "کرمانشاه", city: "کرمانشاه" },
			{ prefix: "330", province: "کرمانشاه", city: "کنگاور" },
			{ prefix: "331", province: "کرمانشاه", city: "هرسین" },
			{ prefix: "332", province: "کرمانشاه", city: "گیلانغرب" },
			{ prefix: "333", province: "کرمانشاه", city: "اسلام آباد" },
			{ prefix: "334", province: "کرمانشاه", city: "اسلام آباد" },
			{ prefix: "335", province: "کرمانشاه", city: "سنقر" },
			{ prefix: "336", province: "کرمانشاه", city: "سرپل ذهاب" },
			{ prefix: "337", province: "کرمانشاه", city: "قصرشیرین" },
			{ prefix: "338", province: "هرمزگان", city: "بندرعباس" },
			{ prefix: "339", province: "هرمزگان", city: "بندرعباس" },
			{ prefix: "341", province: "هرمزگان", city: "میناب" },
			{ prefix: "342", province: "هرمزگان", city: "میناب" },
			{ prefix: "343", province: "هرمزگان", city: "بندرلنگه" },
			{ prefix: "344", province: "هرمزگان", city: "بندرلنگه" },
			{ prefix: "345", province: "هرمزگان", city: "قشم" },
			{ prefix: "346", province: "هرمزگان", city: "جاسک" },
			{ prefix: "347", province: "هرمزگان", city: "حاجی آباد" },
			{ prefix: "348", province: "هرمزگان", city: "بستک" },
			{ prefix: "349", province: "بوشهر", city: "بوشهر" },
			{ prefix: "350", province: "بوشهر", city: "بوشهر" },
			{ prefix: "351", province: "بوشهر", city: "دشتستان" },
			{ prefix: "352", province: "بوشهر", city: "دشتستان" },
			{ prefix: "353", province: "بوشهر", city: "بندر گناوه" },
			{ prefix: "354", province: "بوشهر", city: "دشتی" },
			{ prefix: "355", province: "بوشهر", city: "تنگستان" },
			{ prefix: "356", province: "بوشهر", city: "کنگان" },
			{ prefix: "357", province: "بوشهر", city: "دیر" },
			{ prefix: "358", province: "سیستان و بلوچستان", city: "ایرانشهر" },
			{ prefix: "359", province: "سیستان و بلوچستان", city: "ایرانشهر" },
			{ prefix: "361", province: "سیستان و بلوچستان", city: "زاهدان" },
			{ prefix: "362", province: "سیستان و بلوچستان", city: "زاهدان" },
			{ prefix: "364", province: "سیستان و بلوچستان", city: "چابهار" },
			{ prefix: "365", province: "سیستان و بلوچستان", city: "چابهار" },
			{ prefix: "366", province: "سیستان و بلوچستان", city: "زابل" },
			{ prefix: "367", province: "سیستان و بلوچستان", city: "زابل" },
			{ prefix: "369", province: "سیستان و بلوچستان", city: "سراوان" },
			{ prefix: "370", province: "سیستان و بلوچستان", city: "سراوان" },
			{ prefix: "371", province: "سیستان و بلوچستان", city: "خاش" },
			{ prefix: "372", province: "کردستان", city: "سنندج" },
			{ prefix: "373", province: "کردستان", city: "سنندج" },
			{ prefix: "375", province: "کردستان", city: "سقز" },
			{ prefix: "376", province: "کردستان", city: "سقز" },
			{ prefix: "377", province: "کردستان", city: "بیجار" },
			{ prefix: "378", province: "کردستان", city: "بیجار" },
			{ prefix: "379", province: "کردستان", city: "قروه" },
			{ prefix: "380", province: "کردستان", city: "قروه" },
			{ prefix: "381", province: "کردستان", city: "مریوان" },
			{ prefix: "382", province: "کردستان", city: "مریوان" },
			{ prefix: "383", province: "کردستان", city: "کامیاران" },
			{ prefix: "384", province: "کردستان", city: "بانه" },
			{ prefix: "385", province: "کردستان", city: "دیواندره" },
			{ prefix: "386", province: "همدان", city: "همدان" },
			{ prefix: "387", province: "همدان", city: "همدان" },
			{ prefix: "392", province: "همدان", city: "ملایر" },
			{ prefix: "393", province: "همدان", city: "ملایر" },
			{ prefix: "394", province: "کرمانشاه", city: "کرند" },
			{ prefix: "395", province: "همدان", city: "نهاوند" },
			{ prefix: "396", province: "همدان", city: "نهاوند" },
			{ prefix: "397", province: "همدان", city: "تویسرکان" },
			{ prefix: "398", province: "همدان", city: "رزن" },
			{ prefix: "399", province: "همدان", city: "رزن" },
			{ prefix: "400", province: "همدان", city: "اسدآباد" },
			{ prefix: "401", province: "همدان", city: "اسدآباد" },
			{ prefix: "402", province: "همدان", city: "کبودرآهنگ" },
			{ prefix: "403", province: "همدان", city: "کبودرآهنگ" },
			{ prefix: "404", province: "همدان", city: "بهار" },
			{ prefix: "405", province: "همدان", city: "بهار" },
			{ prefix: "406", province: "لرستان", city: "خرم آباد" },
			{ prefix: "407", province: "لرستان", city: "خرم آباد" },
			{ prefix: "412", province: "لرستان", city: "بروجرد" },
			{ prefix: "413", province: "لرستان", city: "بروجرد" },
			{ prefix: "416", province: "لرستان", city: "الیگودرز" },
			{ prefix: "417", province: "لرستان", city: "الیگودرز" },
			{ prefix: "418", province: "لرستان", city: "الشتر" },
			{ prefix: "419", province: "لرستان", city: "کوهدشت" },
			{ prefix: "420", province: "لرستان", city: "نورآباد(دلفان)" },
			{ prefix: "421", province: "لرستان", city: "دورود" },
			{ prefix: "422", province: "کهکیلویه و بویراحمد", city: "یاسوج" },
			{ prefix: "423", province: "کهکیلویه و بویراحمد", city: "یاسوج" },
			{ prefix: "424", province: "کهکیلویه و بویراحمد", city: "دهدشت" },
			{ prefix: "425", province: "کهکیلویه و بویراحمد", city: "دهدشت" },
			{ prefix: "426", province: "کهکیلویه و بویراحمد", city: "دوگنبدان" },
			{ prefix: "427", province: "زنجان", city: "زنجان" },
			{ prefix: "428", province: "زنجان", city: "زنجان" },
			{ prefix: "431", province: "قزوین", city: "قزوین" },
			{ prefix: "432", province: "قزوین", city: "قزوین" },
			{ prefix: "436", province: "زنجان", city: "خدابنده" },
			{ prefix: "437", province: "زنجان", city: "خدابنده" },
			{ prefix: "438", province: "قزوین", city: "تاکستان" },
			{ prefix: "439", province: "قزوین", city: "تاکستان" },
			{ prefix: "440", province: "زنجان", city: "ابهر" },
			{ prefix: "441", province: "زنجان", city: "ابهر" },
			{ prefix: "442", province: "یزد", city: "یزد" },
			{ prefix: "443", province: "یزد", city: "یزد" },
			{ prefix: "444", province: "یزد", city: "اردکان" },
			{ prefix: "445", province: "یزد", city: "تفت" },
			{ prefix: "446", province: "یزد", city: "مهریز" },
			{ prefix: "447", province: "یزد", city: "بافق" },
			{ prefix: "448", province: "یزد", city: "میبد" },
			{ prefix: "449", province: "ایلام", city: "ایلام" },
			{ prefix: "450", province: "ایلام", city: "ایلام" },
			{ prefix: "451", province: "ایلام", city: "دهلران" },
			{ prefix: "452", province: "ایلام", city: "مهران" },
			{ prefix: "453", province: "ایلام", city: "شیروان و چرداول" },
			{ prefix: "454", province: "ایلام", city: "آبدانان" },
			{ prefix: "455", province: "ایلام", city: "دره شهر" },
			{ prefix: "456", province: "سمنان", city: "سمنان" },
			{ prefix: "457", province: "سمنان", city: "دامغان" },
			{ prefix: "458", province: "سمنان", city: "شاهرود" },
			{ prefix: "459", province: "سمنان", city: "شاهرود" },
			{ prefix: "460", province: "سمنان", city: "گرمسار" },
			{ prefix: "461", province: "چهارمحال و بختیاری", city: "شهرکرد" },
			{ prefix: "462", province: "چهارمحال و بختیاری", city: "شهرکرد" },
			{ prefix: "464", province: "چهارمحال و بختیاری", city: "بروجن" },
			{ prefix: "465", province: "چهارمحال و بختیاری", city: "بروجن" },
			{ prefix: "466", province: "چهارمحال و بختیاری", city: "لردگان" },
			{ prefix: "467", province: "چهارمحال و بختیاری", city: "فارسان" },
			{ prefix: "468", province: "چهارمحال و بختیاری", city: "اردل" },
			{ prefix: "469", province: "هرمزگان", city: "رودان" },
			{ prefix: "470", province: "هرمزگان", city: "گاوبندی" },
			{ prefix: "471", province: "امور خارجه", city: "امور خارجه" },
			{ prefix: "472", province: "امور خارجه", city: "امور خارجه" },
			{ prefix: "481", province: "خوزستان", city: "باغ ملک" },
			{ prefix: "482", province: "کرمان", city: "راین" },
			{ prefix: "483", province: "مازندران", city: "چالوس" },
			{ prefix: "484", province: "لرستان", city: "ازنا" },
			{ prefix: "485", province: "لرستان", city: "پلدختر" },
			{ prefix: "486", province: "گلستان", city: "کلاله" },
			{ prefix: "487", province: "گلستان", city: "رامیان" },
			{ prefix: "488", province: "گلستان", city: "مینودشت" },
			{ prefix: "489", province: "تهران", city: "ساوجبلاغ" },
			{ prefix: "490", province: "تهران", city: "شهریار" },
			{ prefix: "491", province: "تهران", city: "شهریار" },
			{ prefix: "492", province: "آذربایجان غربی", city: "پلدشت" },
			{ prefix: "493", province: "آذربایجان غربی", city: "چایپاره" },
			{ prefix: "495", province: "کرمانشاه", city: "جوانرود" },
			{ prefix: "496", province: "کرمانشاه", city: "صحنه" },
			{ prefix: "497", province: "گلستان", city: "آق قلا" },
			{ prefix: "498", province: "مازندران", city: "بابلسر" },
			{ prefix: "499", province: "مازندران", city: "نکاء" },
			{ prefix: "500", province: "مازندران", city: "هراز و محمودآباد" },
			{ prefix: "501", province: "مازندران", city: "هراز و محمودآباد" },
			{ prefix: "502", province: "همدان", city: "فامنین" },
			{ prefix: "503", province: "یزد", city: "ابرکوه" },
			{ prefix: "504", province: "اردبیل", city: "پارس آباد" },
			{ prefix: "505", province: "آذربایجان شرقی", city: "جلفا" },
			{ prefix: "506", province: "آذربایجان شرقی", city: "عجب شیر" },
			{ prefix: "507", province: "آذربایجان شرقی", city: "ملکان" },
			{ prefix: "508", province: "قزوین", city: "آبیک" },
			{ prefix: "509", province: "قزوین", city: "بوئین زهرا" },
			{ prefix: "510", province: "اصفهان", city: "شاهین شهر" },
			{ prefix: "511", province: "اصفهان", city: "شاهین شهر" },
			{ prefix: "512", province: "اصفهان", city: "سمیرم سفلی (دهاقان)" },
			{ prefix: "513", province: "فارس", city: "بوانات" },
			{ prefix: "514", province: "فارس", city: "سروستان" },
			{ prefix: "515", province: "فارس", city: "لامرد" },
			{ prefix: "516", province: "گیلان", city: "ماسال و شاندرمن" },
			{ prefix: "517", province: "گیلان", city: "سیاهکل" },
			{ prefix: "518", province: "گیلان", city: "خمام" },
			{ prefix: "519", province: "آذربایجان شرقی", city: "کلیبر" },
			{ prefix: "520", province: "سمنان", city: "میامی" },
			{ prefix: "521", province: "خراسان رضوی", city: "جغتای" },
			{ prefix: "522", province: "خراسان رضوی", city: "چناران" },
			{ prefix: "523", province: "خراسان جنوبی", city: "درمیان" },
			{ prefix: "524", province: "خراسان شمالی", city: "مانه و سملقان" },
			{ prefix: "525", province: "سیستان و بلوچستان", city: "نیک شهر" },
			{ prefix: "526", province: "خوزستان", city: "شوش" },
			{ prefix: "527", province: "خوزستان", city: "آغاجاری" },
			{ prefix: "528", province: "لرستان", city: "ویسیان" },
			{ prefix: "529", province: "بوشهر", city: "بندر دیلم" },
			{ prefix: "530", province: "سمنان", city: "مهدیشهر" },
			{ prefix: "531", province: "گلستان", city: "مراوه تپه" },
			{ prefix: "532", province: "بوشهر", city: "سعد آباد" },
			{ prefix: "533", province: "سیستان و بلوچستان", city: "شهرکی و ناروئی (زهک)" },
			{ prefix: "534", province: "ایلام", city: "بدره" },
			{ prefix: "535", province: "کرمان", city: "کوهبنان" },
			{ prefix: "536", province: "کرمان", city: "رودبار کهنوج" },
			{ prefix: "537", province: "هرمزگان", city: "فین" },
			{ prefix: "538", province: "قزوین", city: "آوج" },
			{ prefix: "539", province: "زنجان", city: "طارم علیا" },
			{ prefix: "540", province: "اصفهان", city: "خور و بیابانک" },
			{ prefix: "541", province: "اصفهان", city: "مبارکه" },
			{ prefix: "542", province: "کرمان", city: "انار" },
			{ prefix: "543", province: "یزد", city: "هرات و مروست" },
			{ prefix: "544", province: "مرکزی", city: "فراهان" },
			{ prefix: "545", province: "آذربایجان شرقی", city: "ترکمانچای" },
			{ prefix: "546", province: "فارس", city: "بیضاء" },
			{ prefix: "547", province: "فارس", city: "خشت و کمارج" },
			{ prefix: "548", province: "فارس", city: "خرامه" },
			{ prefix: "549", province: "اصفهان", city: "تیران و کرون" },
			{ prefix: "550", province: "کهکیلویه و بویراحمد", city: "لنده" },
			{ prefix: "551", province: "یزد", city: "اشکذر (صدوق)" },
			{ prefix: "552", province: "یزد", city: "نیر" },
			{ prefix: "553", province: "خراسان رضوی", city: "کلات" },
			{ prefix: "554", province: "هرمزگان", city: "خمیر" },
			{ prefix: "555", province: "چهارمحال و بختیاری", city: "کوهرنگ" },
			{ prefix: "556", province: "تهران", city: "اسلامشهر" },
			{ prefix: "557", province: "لرستان", city: "اشترینان" },
			{ prefix: "558", province: "کردستان", city: "دهگلان" },
			{ prefix: "559", province: "قزوین", city: "ضیاءآباد" },
			{ prefix: "560", province: "زنجان", city: "ماه نشان" },
			{ prefix: "561", province: "یزد", city: "بهاباد" },
			{ prefix: "562", province: "خراسان رضوی", city: "بجستان" },
			{ prefix: "563", province: "خراسان جنوبی", city: "نهبندان" },
			{ prefix: "564", province: "اصفهان", city: "جرقویه" },
			{ prefix: "565", province: "اصفهان", city: "کوهپایه" },
			{ prefix: "566", province: "اردبیل", city: "سنجبد(کوثر)" },
			{ prefix: "567", province: "آذربایجان شرقی", city: "ورزقان" },
			{ prefix: "568", province: "مازندران", city: "بندپی" },
			{ prefix: "569", province: "گیلان", city: "شفت" },
			{ prefix: "570", province: "گیلان", city: "رضوانشهر" },
			{ prefix: "571", province: "مرکزی", city: "وفس" },
			{ prefix: "572", province: "خراسان رضوی", city: "بردسکن" },
			{ prefix: "573", province: "خراسان رضوی", city: "جوین" },
			{ prefix: "574", province: "خراسان رضوی", city: "زبرخان" },
			{ prefix: "575", province: "اصفهان", city: "چادگان" },
			{ prefix: "576", province: "مازندران", city: "چهاردانگه" },
			{ prefix: "577", province: "مازندران", city: "شیرگاه" },
			{ prefix: "578", province: "مازندران", city: "دودانگه" },
			{ prefix: "579", province: "مازندران", city: "گلوگاه" },
			{ prefix: "580", province: "قزوین", city: "رودبار الموت" },
			{ prefix: "581", province: "ایلام", city: "ارکوازی (ملکشاهی)" },
			{ prefix: "582", province: "مازندران", city: "جویبار" },
			{ prefix: "583", province: "کرمان", city: "رابر" },
			{ prefix: "584", province: "همدان", city: "قلقل رود" },
			{ prefix: "585", province: "خوزستان", city: "اروندکنار" },
			{ prefix: "586", province: "هرمزگان", city: "بشاگرد" },
			{ prefix: "587", province: "زنجان", city: "افشار" },
			{ prefix: "588", province: "قزوین", city: "طارم سفلی" },
			{ prefix: "589", province: "زنجان", city: "سلطانیه" },
			{ prefix: "590", province: "قزوین", city: "رودبار شهرستان" },
			{ prefix: "591", province: "خراسان شمالی", city: "رازوجرکلان" },
			{ prefix: "592", province: "لرستان", city: "پاپی" },
			{ prefix: "593", province: "مرکزی", city: "هندودر" },
			{ prefix: "594", province: "گیلان", city: "عمارلو" },
			{ prefix: "595", province: "کرمانشاه", city: "ثلاث باباجانی" },
			{ prefix: "596", province: "کرمانشاه", city: "روانسر" },
			{ prefix: "597", province: "سیستان و بلوچستان", city: "لاشار(اسپکه)" },
			{ prefix: "598", province: "لرستان", city: "رومشکان" },
			{ prefix: "599", province: "کهکیلویه و بویراحمد", city: "بهمنی" },
			{ prefix: "600", province: "کهکیلویه و بویراحمد", city: "چاروسا" },
			{ prefix: "601", province: "اردبیل", city: "بیله سوار" },
			{ prefix: "602", province: "آذربایجان شرقی", city: "ملکان" },
			{ prefix: "603", province: "اردبیل", city: "نیر" },
			{ prefix: "604", province: "آذربایجان شرقی", city: "هوراند" },
			{ prefix: "605", province: "کرمان", city: "ریگان" },
			{ prefix: "606", province: "کرمان", city: "عنبرآباد" },
			{ prefix: "607", province: "کرمان", city: "ماهان" },
			{ prefix: "608", province: "کرمان", city: "منوجان" },
			{ prefix: "609", province: "بوشهر", city: "جم" },
			{ prefix: "610", province: "بوشهر", city: "شبانکاره" },
			{ prefix: "611", province: "سیستان و بلوچستان", city: "میرجاوه" },
			{ prefix: "612", province: "لرستان", city: "چغلوندی" },
			{ prefix: "613", province: "لرستان", city: "چگنی" },
			{ prefix: "614", province: "زنجان", city: "انگوران" },
			{ prefix: "615", province: "زنجان", city: "خرمدره" },
			{ prefix: "616", province: "ایلام", city: "ایوان" },
			{ prefix: "617", province: "مرکزی", city: "خنداب" },
			{ prefix: "618", province: "مرکزی", city: "زرند مرکزی" },
			{ prefix: "619", province: "اصفهان", city: "آران و بیدگل" },
			{ prefix: "620", province: "اصفهان", city: "باغ بهادران" },
			{ prefix: "621", province: "اصفهان", city: "بوئین و میاندشت" },
			{ prefix: "622", province: "اصفهان", city: "میمه" },
			{ prefix: "623", province: "آذربایجان شرقی", city: "صوفیان" },
			{ prefix: "624", province: "گلستان", city: "آزادشهر" },
			{ prefix: "625", province: "مازندران", city: "چمستان" },
			{ prefix: "626", province: "مازندران", city: "کجور" },
			{ prefix: "627", province: "مازندران", city: "کلاردشت" },
			{ prefix: "628", province: "گلستان", city: "گمیشان" },
			{ prefix: "629", province: "چهارمحال و بختیاری", city: "گندمان" },
			{ prefix: "630", province: "گیلان", city: "املش" },
			{ prefix: "631", province: "گیلان", city: "رحیم آباد" },
			{ prefix: "632", province: "چهارمحال و بختیاری", city: "فلارد" },
			{ prefix: "633", province: "چهارمحال و بختیاری", city: "کیار" },
			{ prefix: "634", province: "ایلام", city: "شیروان لومار" },
			{ prefix: "635", province: "خراسان شمالی", city: "فاروج" },
			{ prefix: "636", province: "آذربایجان شرقی", city: "چاروایماق" },
			{ prefix: "637", province: "آذربایجان غربی", city: "انزل" },
			{ prefix: "638", province: "آذربایجان غربی", city: "سیلوانه" },
			{ prefix: "639", province: "آذربایجان غربی", city: "سیمینه" },
			{ prefix: "640", province: "آذربایجان غربی", city: "شوط" },
			{ prefix: "641", province: "کرمانشاه", city: "حمیل" },
			{ prefix: "642", province: "سمنان", city: "بیارجمند" },
			{ prefix: "643", province: "خراسان رضوی", city: "احمدآباد" },
			{ prefix: "644", province: "خراسان رضوی", city: "تخت جلگه" },
			{ prefix: "645", province: "سیستان و بلوچستان", city: "سرباز" },
			{ prefix: "646", province: "کردستان", city: "سروآباد" },
			{ prefix: "647", province: "همدان", city: "شراء و پیشخوار" },
			{ prefix: "648", province: "فارس", city: "ارسنجان" },
			{ prefix: "649", province: "فارس", city: "اوز" },
			{ prefix: "650", province: "خراسان رضوی", city: "رشتخوار" },
			{ prefix: "651", province: "خراسان رضوی", city: "فیض آباد" },
			{ prefix: "652", province: "خراسان جنوبی", city: "زیرکوه" },
			{ prefix: "653", province: "گیلان", city: "سنگر" },
			{ prefix: "654", province: "فارس", city: "حاجی آباد (زرین دشت)" },
			{ prefix: "655", province: "فارس", city: "خفر" },
			{ prefix: "656", province: "فارس", city: "گراش" },
			{ prefix: "657", province: "فارس", city: "مهر" },
			{ prefix: "658", province: "تهران", city: "پاکدشت" },
			{ prefix: "659", province: "تهران", city: "فیروزکوه" },
			{ prefix: "660", province: "اصفهان", city: "دولت آباد" },
			{ prefix: "661", province: "خوزستان", city: "هندیجان" },
			{ prefix: "662", province: "خوزستان", city: "رامشیر" },
			{ prefix: "663", province: "خوزستان", city: "اندیکا" },
			{ prefix: "664", province: "تهران", city: "کهریزک" },
			{ prefix: "665", province: "فارس", city: "سعادت آباد" },
			{ prefix: "666", province: "تهران", city: "رباط کریم" },
			{ prefix: "667", province: "هرمزگان", city: "ابوموسی" },
			{ prefix: "668", province: "سیستان و بلوچستان", city: "سیب و سوران" },
			{ prefix: "669", province: "سیستان و بلوچستان", city: "قصرقند" },
			{ prefix: "670", province: "فارس", city: "آباده طشک" },
			{ prefix: "671", province: "فارس", city: "جویم" },
			{ prefix: "672", province: "فارس", city: "خنج" },
			{ prefix: "673", province: "فارس", city: "شیبکوه" },
			{ prefix: "674", province: "کردستان", city: "کرانی" },
			{ prefix: "675", province: "آذربایجان غربی", city: "کشاورز" },
			{ prefix: "676", province: "کردستان", city: "نمشیر" },
			{ prefix: "677", province: "آذربایجان غربی", city: "تخت سلیمان" },
			{ prefix: "678", province: "فارس", city: "اشکنان" },
			{ prefix: "679", province: "فارس", city: "فراشبند" },
			{ prefix: "680", province: "خوزستان", city: "هویزه" },
			{ prefix: "681", province: "فارس", city: "قنقری (خرم بید)" },
			{ prefix: "682", province: "سیستان و بلوچستان", city: "بزمان" },
			{ prefix: "683", province: "فارس", city: "کوار" },
			{ prefix: "684", province: "سمنان", city: "ایوانکی" },
			{ prefix: "685", province: "خوزستان", city: "امیدیه" },
			{ prefix: "686", province: "اردبیل", city: "نمین" },
			{ prefix: "687", province: "کهکیلویه و بویراحمد", city: "باشت" },
			{ prefix: "688", province: "کهکیلویه و بویراحمد", city: "دروهان" },
			{ prefix: "689", province: "گلستان", city: "بندرگز" },
			{ prefix: "690", province: "اردبیل", city: "انگوت" },
			{ prefix: "691", province: "کرمانشاه", city: "باینگان" },
			{ prefix: "692", province: "خوزستان", city: "سردشت" },
			{ prefix: "693", province: "گیلان", city: "کوچصفهان" },
			{ prefix: "694", province: "گیلان", city: "لشت نشاء" },
			{ prefix: "695", province: "البرز", city: "طالقان" },
			{ prefix: "696", province: "چهارمحال و بختیاری", city: "میانکوه" },
			{ prefix: "697", province: "کهکیلویه و بویراحمد", city: "مارگون" },
			{ prefix: "698", province: "کرمان", city: "قلعه گنج" },
			{ prefix: "699", province: "سیستان و بلوچستان", city: "فنوج" },
			{ prefix: "700", province: "سمنان", city: "بسطام" },
			{ prefix: "701", province: "سیستان و بلوچستان", city: "دشتیاری" },
			{ prefix: "702", province: "قم", city: "کهک" },
			{ prefix: "703", province: "سیستان و بلوچستان", city: "بمپور" },
			{ prefix: "704", province: "سیستان و بلوچستان", city: "زابلی" },
			{ prefix: "705", province: "سیستان و بلوچستان", city: "شیب آب" },
			{ prefix: "706", province: "خوزستان", city: "بندر امام خمینی" },
			{ prefix: "707", province: "خوزستان", city: "شاوور" },
			{ prefix: "708", province: "زنجان", city: "ایجرود" },
			{ prefix: "709", province: "زنجان", city: "بزینه رود" },
			{ prefix: "710", province: "زنجان", city: "زنجانرود" },
			{ prefix: "711", province: "مازندران", city: "بندپی شرقی" },
			{ prefix: "712", province: "مازندران", city: "عباس آباد" },
			{ prefix: "713", province: "مازندران", city: "میاندورود" },
			{ prefix: "714", province: "اردبیل", city: "خورش رستم" },
			{ prefix: "715", province: "اردبیل", city: "سرعین" },
			{ prefix: "716", province: "خراسان جنوبی", city: "سربیشه" },
			{ prefix: "717", province: "البرز", city: "نظرآباد" },
			{ prefix: "718", province: "یزد", city: "دستگردان" },
			{ prefix: "719", province: "خراسان جنوبی", city: "سرایان" },
			{ prefix: "720", province: "سیستان و بلوچستان", city: "راسک" },
			{ prefix: "721", province: "خراسان جنوبی", city: "بشرویه" },
			{ prefix: "722", province: "کرمان", city: "ارزونیه" },
			{ prefix: "723", province: "فارس", city: "قیروکارزین" },
			{ prefix: "724", province: "خراسان رضوی", city: "خلیل آباد" },
			{ prefix: "725", province: "سیستان و بلوچستان", city: "کنارک" },
			{ prefix: "726", province: "ایلام", city: "زرین آباد" },
			{ prefix: "727", province: "ایلام", city: "موسیان" },
			{ prefix: "728", province: "قزوین", city: "البرز" },
			{ prefix: "729", province: "خوزستان", city: "گتوند" },
			{ prefix: "730", province: "خوزستان", city: "لالی" },
			{ prefix: "731", province: "اردبیل", city: "ارشق" },
			{ prefix: "732", province: "بوشهر", city: "دلوار" },
			{ prefix: "740", province: "مازندران", city: "فریدونکنار" },
		];

		console.log("مهدی شوقیان");


    </script>



<script>


        // تابع در هنگام ایجاد کردن جدول Create Table
        function createdFunc(args) {
            ej.base.enableRtl(true);
			let grid = document.querySelector('#countryList').ej2_instances[0];
            // تعریف یک کلاس سفارشی برای پردازش پاسخ دریافتی از سرور - برای کنترل مقادیر
            class CustomAdaptor extends ej.data.UrlAdaptor {
                processResponse(data, ds, query, xhr, request, changes) {
                    if (!ej.base.isNullOrUndefined(data.action)) {
                        if (data.action == "fetchGrid") {
                            $("#spnRowCount").text(data.count);
                        }
                        if (data.action === "insert") {
	                        ej.popups.DialogUtility.alert({
								title: "کشور جدید",
								content: `کشور ${data.country} با موفقیت ثبت شد.`,
								okButton: { text: "خوبه", cssClass: "badge btn btn-outline-success green rounded okConfirm" },
		                        showCloseIcon: true,
		                        closeOnEscape: true,
		                        animationSettings: { effect: 'Zoom' }
	                        });
//                            alert(`کشور ${data.country} با موفقیت ثبت شد.`);
                        }
                        if (data.action === 'update') {
	                        ej.popups.DialogUtility.alert({
		                        title: `ویرایش کشور`,
								content: `کشور ${data.country} بروز شد.`,
		                        okButton: { text: "چه عالی", cssClass: "btn btn-outline-warning yellow rounded okConfirm" },
		                        showCloseIcon: true,
		                        closeOnEscape: true,
		                        animationSettings: { effect: 'Zoom' }
	                        });
	                        grid.refresh();
//                            alert(`کشور ${data.country} بروز شد.`);
                        }
                        if (data.action === 'delete') {
                            alert(`کشور ${data.country} حذف شد.`);
                        }
                        if (data.action === 'repeat') {
	                        ej.popups.DialogUtility.alert({
		                        title: "خطا در ثبت اطلاعات",
								content: `کشور ${data.country} تکراری میباشد.`,
		                        okButton: { text: "متوجه شدم", cssClass: "btn btn-outline-danger black rounded" },
		                        showCloseIcon: true,
		                        closeOnEscape: true,
		                        animationSettings: { effect: 'Zoom' }
	                        });
//                            alert(`کشور ${data.country} تکراری میباشد.`);
                        }
                        if (data.action === "error") {
	                        ej.popups.DialogUtility.alert({
		                        title: "خطا در ثبت اطلاعات",
								content: "در ثبت اطلاعات خطایی رح داده لطفا بررسی کنید." + data.ErrMsg.toString(),
		                        okButton: { text: "متوجه شدم", cssClass: "btn btn-outline-danger black rounded" },
		                        showCloseIcon: true,
		                        closeOnEscape: true,
		                        animationSettings: { effect: 'Zoom' }
	                        });
//                            alert("در ثبت اطلاعات خطایی رح داده لطفا بررسی کنید." + data.ErrMsg.toString());
                        }
                        if (!ej.base.isNullOrUndefined(data.data)) {
                            return data.data;
                        } else {
                            return data;
                        }
                    }
                }
            }

//            url: "/AdminArea/CountryManagement/FetchCountryList",
//	            insertUrl: "/AdminArea/CountryManagement/Insert",
//	            updateUrl: "/AdminArea/CountryManagement/Update",
//	            removeUrl: "/AdminArea/CountryManagement/Delete",

            // دریافت اطلاعات از دیتابیس به روش AJAX و تنظیم منبع داده‌ها برای گرید
			grid.dataSource = new ej.data.DataManager({
				url: baseUrl,
				insertUrl: insertUrl,
				updateUrl: updateUrl,
				removeUrl: deleteUrl,
	            adaptor: new CustomAdaptor()
            });
        }

        // تابع کنترل دکمه‌های تول بار Toolbar Button Function Or Toolbar Click
        let toolbarClickFunc = (args) => {
            switch (args.item.id) {
            case 'countryList_add':
                // console.log(args);
                // alert(`شما دکمه ${args.item.text} را کلیلک کرده اید`);
                break;

            case 'countryList_edit':
                // alert(`شما دکمه ${args.item.text} را کلیلک کرده اید`);
                break;

            case 'countryList_cancel':
                // alert(`شما دکمه ${args.item.text} را کلیلک کرده اید`);
                break;

            case 'countryList_update':
                // alert(`شما دکمه ${args.item.text} را کلیلک کرده اید`);
                break;

            case 'countryList_delete':
                // alert(`شما دکمه ${args.item.text} را کلیلک کرده اید`);
                break;
            }
        }
    </script>
}